@keyframes back-glow {
  from {
    background-position: 0 0;
  } to {
    background-position: 50% 50%;
  }
}

body {
  color: white;
  background: linear-gradient(45deg, cyan, darkcyan);
  background-size: 800%;
  animation: back-glow 33s alternate infinite;
}